.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white-color;
  width: 100%;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $red-color;
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  h2 {
    font-size: 24px;
    font-weight: 500;
    @include mobile-rs {
      font-size: 13px;
    }
  }
  .dropdown-button {
    background: none;
    border: none;
    color: $white-color;
    .fa-chevron-up {
      font-size: 20px;
    }
  }
}

.dropdown-content {
  visibility: hidden;
  background-color: $grey-color;
  border-radius: 5px;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: height 0.5s ease;
  &.open {
    visibility: visible;
    height: auto;
    opacity: 1;
  }
  p {
    color: $red-color;
    font-size: 18px;
    font-weight: 400;
    height: 0;
    opacity: 0;
    transition: height 0.5s ease;
    padding: 20px;
    ul li {
      font-weight: 400;
    }
    &.open {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
    @include mobile-rs {
      font-size: 12px;
    }
  }
  @include mobile-rs {
    font-size: 13px;
  }
}

.dropdown-item .dropdown-content,
.dropdown-item .fa-chevron-up {
  transition: all 0.5s ease;
}

.dropdown-item.open .fa-chevron-up {
  transform: rotate(-180deg);
}
