.host-rating {
  display: flex;
  gap: 6px;
  .fa-star {
    font-size: 18px;
    @include mobile-rs {
      font-size: 12px;
    }
  }
}

.filled {
  color: $red-color;
}

.empty {
  color: #e3e3e3;
}
