@import "../Components/BackgroundImage";

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include mobile-rs {
    gap: 20px;
  }
}

.location-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 90%;
  border-radius: 25px;
  background: #f6f6f6;
  padding: 50px;
  margin: auto;
  @include tablette-rs {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile-rs {
    grid-template-columns: repeat(1, 1fr);
    background: none;
    padding: 0;
    gap: 20px;
  }
}

.location-item {
  position: relative;
}

.location-card {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  text-align: center;
  border-radius: 25px;
  .location-cover {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 25px;
    @include mobile-rs {
      aspect-ratio: 9/7;
    }
  }
  .location-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    color: $white-color;
    text-align: left;
    font-size: 12px;
    padding: 20px;
    border-radius: 25px;
  }
}
