footer {
  display: flex;
  justify-content: center;
  background-color: $black-color;
  color: $white-color;
  margin-top: 50px;
  padding-top: 20px;
  .footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    gap: 20px;
    .footer-logo {
      width: 130px;
      align-self: center;
      fill: $white-color;
    }
  }
}
