header {
  margin-inline: auto;
  color: $red-color;
  width: 90%;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  img {
    width: 210px;
  }
  nav {
    display: flex;
    gap: 20px;
    a {
      color: $red-color;
    }
  }
}

.active {
  text-decoration: underline;
}
