header {
  margin-inline: auto;
  color: $red-color;
  width: 90%;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  @include mobile-rs {
    margin: 20px 0;
  }
  img {
    width: 210px;
    @include mobile-rs {
      width: 145px;
    }
  }
  nav {
    display: flex;
    gap: 20px;
    a {
      color: $red-color;
      @include mobile-rs {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

.active {
  text-decoration: underline;
}
